body {	
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	background-color: #16303D;
}

.container {
	height: 80%;
	width: 100%;
	padding-top: 5%;
}

#title {
	text-align: center;
}

#title h1 {
	color: #FFF;
	font-family: 'Baloo Bhaina', cursive;
	font-size: 4em;
}

#main-image {
	text-align: center;
	width: 100%;
}

#main-image img {
	margin: auto;
}

.button-action {
	border-top: solid 3px #FFF;
	border-bottom: solid 3px #FFF;
	margin-top: 4em;
	padding: 1em;
	text-align: center;
}

.button-action button {
	background: #16303D;
	border: solid 2px #5CBC67;
	border-radius: 15px;
	color: #5CBC67;
	font-family: 'Baloo Bhaina', cursive;
	font-weight: bold;
	margin: auto;
	margin-left: 1em;
	padding: 0.7em 1.5em 0.4em 1.5em;
	text-transform: uppercase;
}

.button-action button:after {
	content: url('/static/images/go.png');
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.5em;
}

input {
    width: 10px;
    height: 10px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

form {
	margin: 0;
}